html, body {
    background-color: #fff;
    color: #f8f9fa;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    
}

.title {
    font-size: 84px;
}

.links > a {
    color: #f2f6f8;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer{
    background: rgb(59, 10, 194);
    padding: 20px;
    text-align: center;
}

.login {
	position: absolute;
right: 0;
top: 0;
}

button {
	border: none;
	color:rgb(73, 5, 56);
	padding: 15px 32px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	margin:4px 2px;
	cursor:pointer;
	background-color: #f8f8f8
	
}

button:hover {
	background-color: #4CAF50;
	color: white;
}
 
body{
	background: rgb(21, 104, 110);
}

form{
	border: solid rgb(0, 0, 0) 1px;
	width: 50%;
	border-radius: 5px;
	margin: 100px auto;
	background: rgb(255, 255, 255);
	padding: 50px;
}

#submit{
	color: #fff;
	background: #488572;
	padding: 5px;
	margin-left: 69%
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 5px;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #15d11b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: rgb(246, 247, 248);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #0c0101;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card-container{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}

.card-deck{
  width: 100% !important;
  margin: 20px !important;
  justify-content:start;
  flex-direction: row wrap !important;
}

.card{
  width: 250px !important;
  height: 400px !important;

}



.card-image{
  width:250px;
  height:180px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}